{% extends "home/layout.html" %}
{% load static crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'workouts/css/config.css' %}" />
{% endblock %}

{% block title %}
  Workout Configuration
{% endblock %}

{% block main %}
  <section class="jumbotron mx-1" id="configJumboB">
    <h1>Design Your <span style="color: #500000">Workout</span></h1>
  </section>

  <section class="container optionsConfig mb-5">

    <form action="{% url 'champ-config' %}" method="post" id="config" class="mx-auto">
      
      {% csrf_token %}
      {% crispy form %}

    </form>

  </section>
{% endblock %}
