{% extends "home/layout.html" %}

{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'workouts/css/workout.css' %}" />
{% endblock %}

{% block title %}
  Workout
{% endblock %}

{% block main %}
<section id="return" class="jumbotron mx-1">

  <section class="container">
    <h1>{{spec1}} Workout: <small style="color: #216869">{{spec2}}</small></h1>
  </section>

</section>

<section class="container mb-5">
  <section class="routine">

    <h2 class="text-center">Warmup</h2>

    {{ warmup|safe }}
  </section>
  <section class="routine">

    <h2 class="text-center">Main Routine</h2>

    {{ routine|safe }}

  </section>
  <hr>
  <h6 class="text-center">Thank you for using Champ! </h6>
  <h6 class="text-center">Please leave <a href="{% url 'champ-contact' %}">feedback</a>!</h6>

  <section class="nextSteps">
    <a href="{% url 'champ-home' %}" class="btn btn-outline-primary mx-2 my-2">Home</a>
    <a href="{% url 'champ-config' %}" class="btn btn-outline-warning mx-2 my-2">New Workout</a>
  </section>


</section>
{% endblock %}
