{% extends "home/layout.html" %}

{% load static %}

{% block title %}
  About
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/about.css' %}" />
{% endblock %}

{% block main %}
  <section id="aboutJumbo" class="jumbotron mx-1">

    <section class="container">

        <h1 class="text-center">About Champ</h1>
        <h2 class="text-center">Usage & Specification</h2>
    </section>

  </section>

  <section id="aboutText" class="container">
      <section class="row">
          <article class="col-md aboutTopic">
            <h3 class="text-center">Usage</h3>
            
            <p>
                Champ is a web app used to auto generate complete, bespoke workouts for the user from a rich database of exercises.
            </p>

            <h5 class="text-center">3 Steps:</h5>
            <ol>
                <li class="mb-3">
                    <h6>Choose your goal:</h6>
                    <ul>
                        <li class="mb-3"><strong>Strength</strong> - Low reps, high weight. Choose a weight you struggle to finish 5 reps with. 3 - 5 mins rest between sets.</li>
                        <li class="mb-3"><strong>Muscle Growth</strong> - Medium reps, medium weight. Choose a weight you struggle to do 12 reps with. 90 - 120 seconds rest between sets.</li>
                        <li class="mb-3"><strong>Stamina</strong> - High reps, lower weight. Choose a weight you struggle to do 15 reps with. 60 seconds rest between sets.</li>
                    </ul>
                </li>
                <li class="mb-3">
                    <h6>Choose the target muscle group.</h6>
                </li>
                <li class="mb-3">
                    <h6>Select how much equipment you have available.</h6>
                    <ul>
                        <li class="mb-3">
                            <strong>Fully Equipped</strong> - Includes exercises using specialised equipment e.g. rope climbs, TRX etc.
                        </li>
                        <li class="mb-3">
                            <strong>Basic Equipment</strong> - Only includes exercises using basic equipment e.g. Barbells, dumbbells
                        </li>
                        <li class="mb-3">
                            <strong>No Equipment</strong> - Only includes exercises that use no equipment i.e. calisthenic exercises.
                        </li>
                    </ul>
                </li>
            </ol>

            <p></p>
          </article>

          <section class="col-md aboutTopic">
            <section class="mb-4">
                <h3 class="text-center">Sitemap</h3>
                <section class="siteButtons">
                    <a href="{% url 'champ-home' %}" class="btn btn-success col-sm">Home</a>
                    <a href="{% url 'champ-contact' %}" class="btn btn-warning col-sm">Contact</a>
                    <a href="{% url 'champ-config' %}" class="btn btn-info col-sm">Generate Workout</a>
                    <a href="{% url 'champ-api-schema' %}" class="btn btn-danger col-sm" target="_blank">Champ API</a>
                </section>
            </section>
            <article>
                <h3 class="text-center">Specs</h3>
                <h5>Frontend</h5>
                <ul>
                    <li>HTML & CSS (<a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" target="_blank">Bootstrap 4</a>)</li>
                    <li>Javascript (ES6 & <a href="https://jquery.com/" target="_blank">JQuery</a>)</li>
                </ul>
                <h5>Backend</h5>
                <ul>
                    <li>Python (<a href="https://www.djangoproject.com/start/overview/" target="_blank">Django v2.2</a>)</li>
                    <li>PostgreSQL</li>
                </ul>
                <h5>Hosting</h5>
                <ul>
                    <li><a href="https://www.pythonanywhere.com/" target="_blank">PythonAnywhere</a></li>
                </ul>
                <h5>API</h5>
                <ul>
                    <li><a href="https://www.django-rest-framework.org/" target="_blank">Django Rest Framework</a></li>
                </ul>
            </article>
          </section>
      </section>

    <a href="{% url 'champ-home' %}" role="button" class="btn btn-block btn-outline-success my-5">Return Home</a>
  </section>
{% endblock %}
