{% extends "home/layout.html" %}

{% load static crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/contact.css' %}" />
{% endblock %}

{% block title %}
  Contact
{% endblock %}

{% block main %}
  <div class="jumbotron mx-1" id="thanksJumbo">
    <h1 class="text-center">Feedback & Enquiries</h1>
    <h2 class="text-center">Contact Form</h2>
  </div>

  <div class="container mb-5" id="contactSelect">

    <form action="{% url 'champ-contact' %}" method="post" id="contact" class="mx-auto">
      
      {% csrf_token %}
      {{ form|crispy }}

      <div class="buttons">
        <button type="submit" class="btn btn-sm btn-success mr-2">
            <i class="far fa-paper-plane mr-2"></i> Send
          </button>
      
          <button type="reset" class="btn btn-sm btn-outline-secondary">
            Reset Form
          </button>
      </div>

    </form>

  </div>
{% endblock %}
