{% extends "home/layout.html" %}

{% load static %}

{% block title %}
  Error
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/about.css' %}" />
{% endblock %}

{% block main %}
  <div id="aboutJumbo" class="jumbotron mx-1">

    <div class="container">

        <h1 class="text-center">Error!</h1>
        <h2 class="text-center">{% block err_no %} {% endblock %}</h2>

    </div>

  </div>

  <div id="aboutText" class="container">
      {% block message %}
      {% endblock %}
  </div>
      
{% endblock %}
