{% extends "home/layout.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/contact.css' %}" />
{% endblock %}

{% block title %}
  Thanks for contacting me!
{% endblock %}

{% block main %}
  <div class="jumbotron" id="thanksJumbo">
    <h1 class="text-center">Thanks for getting in touch!</h1>
  </div>

  <div class="container">
    <p class="text-center">Your feedback has been recorded and also emailed over. I will to reply as soon as possible.</p>

    <p class="text-center">In the meantime, please enjoy using Champ some more.</p>

    <a href="/" role="button" class="btn btn-block btn-outline-info">Return Home</a>
  </div>
{% endblock %}
